.no-match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__text {
    font-size: 36px;
    font-weight: 600;
  }

  &__ctrl {
    margin-top: 35px;
  }
}
